<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">

  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.sacc.Initializer</listener-class>
  </listener>
  <servlet>
    <servlet-name>ArgentGoldServlet</servlet-name>
    <servlet-class>com.sacc.ArgentGoldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Worker</servlet-name>
    <servlet-class>com.sacc.Worker</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConversionServlet</servlet-name>
    <servlet-class>com.sacc.VideoPullingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.sacc.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveVideosServlet</servlet-name>
    <servlet-class>com.sacc.servlet.RemoveVideosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArgentGoldServlet</servlet-name>
    <url-pattern>/ArgentGoldServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Worker</servlet-name>
    <url-pattern>/worker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConversionServlet</servlet-name>
    <url-pattern>/requestConversion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveVideosServlet</servlet-name>
    <url-pattern>/tasks/removevideos</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>convert.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
