<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
  <servlet>
    <servlet-name>BronzeServlet</servlet-name>
    <servlet-class>com.sacc.BronzeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BronzeWorker</servlet-name>
    <servlet-class>com.sacc.BronzeWorker</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConversionServlet</servlet-name>
    <servlet-class>com.sacc.servlet.RequestConversionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BronzeServlet</servlet-name>
    <url-pattern>/bronze</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BronzeWorker</servlet-name>
    <url-pattern>/bronzeworker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConversionServlet</servlet-name>
    <url-pattern>/requestConversion</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>convert.html</welcome-file>
  </welcome-file-list>
</web-app>
